<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 *
 * WSO2 Inc. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Micro-GW-ServiceDiscovery-Test-Suite">
    <listeners>
        <!--Disabled since there are no any pre configured apis -->
        <!--<listener class-name="org.wso2.micro.gateway.tests.listener.TestExecutionListener"/>-->
        <listener class-name="org.wso2am.micro.gw.tests.listener.TestNGListener"/>
    </listeners>

    <test name="micro-gw-with-no-apis" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2am.micro.gw.tests.testCaseBefore.MgwWithNoAPIs"/>
            <class name="org.wso2am.micro.gw.tests.testCases.apiDeploy.APiDeployTestCase"/>
            <class name="org.wso2am.micro.gw.tests.testCases.endpoints.ProductionSandboxTestCase"/>
            <class name="org.wso2am.micro.gw.tests.testCaseBefore.HasOneDeployedAPI"/>
            <class name="org.wso2am.micro.gw.tests.testCases.jwtValidator.JwtTestCase"></class>
            <class name="org.wso2am.micro.gw.tests.testCases.jwtValidator.ScopeTest"/>
        </classes>
    </test>
    <test name="micro-gw-with-backend-tls-and-api" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2am.micro.gw.tests.testCaseBefore.MgwWithBackendTlsAndAPI"/>
            <class name="org.wso2am.micro.gw.tests.testCases.backendtls.BackendTLSTestcase"/>
            <class name="org.wso2am.micro.gw.tests.testCases.security.CorsTestCase"/>
        </classes>
    </test>
    <test name="micro-gw-with-jwt-config-and-api" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2am.micro.gw.tests.testCaseBefore.MgwWithJwtConfigAndAPI"/>
            <class name="org.wso2am.micro.gw.tests.testCases.jwtGenerator.JwtGeneratorTestCase"></class>
            <class name="org.wso2am.micro.gw.tests.testCases.jwtGenerator.JwtTransformerTestCase"/>
        </classes>
    </test>
    <test name="micro-gw-with-jwt-config-and-transformer" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2am.micro.gw.tests.testCaseBefore.MgwWithJwtConfigAndTransformer"/>
            <class name="org.wso2am.micro.gw.tests.testCases.jwtGenerator.CustomJwtTransformerTestCase"/>
        </classes>
    </test>
</suite>
