<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (c) 2020, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 *
 * WSO2 Inc. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Micro-GW-ServiceDiscovery-Test-Suite" parallel="false">
    <listeners>
        <!--Disabled since there are no any pre configured apis -->
        <!--<listener class-name="org.wso2.micro.gateway.tests.listener.TestExecutionListener"/>-->
        <listener class-name="org.wso2.choreo.connect.tests.listener.TestNGListener"/>
    </listeners>

    <test name="before-suite-preparations" parallel="false">
        <classes>
            <class name="org.wso2.choreo.connect.tests.testCaseBefore.BeforeTestSuite"/>
        </classes>
    </test>
    <test name="micro-gw-with-default-config" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.choreo.connect.tests.testCaseBefore.MgwWithDefaultConf"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apiDeploy.APiDeployViaRestTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apiDeploy.APiDeployViaApictlTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.endpoints.ProductionSandboxTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.jwtValidator.JwtTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.jwtValidator.ScopeTest"/>
            <class name="org.wso2.choreo.connect.tests.testCases.jwtValidator.InternalKeyTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.jwtValidator.CustomAuthHeaderTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apiDeploy.QSGTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.vhost.VhostAPICtlTestCase"/>
        </classes>
    </test>
    <test name="micro-gw-with-backend-tls" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.choreo.connect.tests.testCaseBefore.MgwWithBackendTls"/>
            <class name="org.wso2.choreo.connect.tests.testCases.backendtls.BackendTLSTestcase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.security.CorsTestCase"/>
        </classes>
    </test>
    <test name="micro-gw-with-jwt-config" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.choreo.connect.tests.testCaseBefore.MgwWithJwtConfig"/>
            <class name="org.wso2.choreo.connect.tests.testCases.security.CorsTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.jwtGenerator.JwtGeneratorTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.jwtGenerator.JwtTransformerTestCase"/>
        </classes>
    </test>
    <test name="micro-gw-with-jwt-config-and-transformer" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.choreo.connect.tests.testCaseBefore.MgwWithJwtConfigAndTransformer"/>
            <class name="org.wso2.choreo.connect.tests.testCases.jwtGenerator.CustomJwtTransformerTestCase"/>
        </classes>
    </test>
    <test name="mgw-micro-with-apim" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.choreo.connect.tests.testCaseBefore.APIManagerInitializeTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apim.throttle.AdvanceThrottlingTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apim.throttle.ApplicationThrottlingTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apim.throttle.SubscriptionThrottlingTestCase"/>
<!--            TODO: (Praminda) this requires upgrade in apim throttle dependency. enable after upgrade-->
<!--            <class name="org.wso2.choreo.connect.tests.testCases.apim.throttle.DenyConditionTestCase"/>-->
            <class name="org.wso2.choreo.connect.tests.testCases.apim.SubscriptionValidationTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apim.BlockedAPITestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apim.VhostAPIMTestCase"/>
            <class name="org.wso2.choreo.connect.tests.testCases.apim.endpoints.PrototypeEndpointTestCase"/>
        </classes>
    </test>
</suite>
