{{#api.endpointSecurity}}{{#equals api.endpointSecurity.type "basic"}},
    auth: {
        scheme: "Basic",
        username: gateway:retrieveConfig("{{api.id}}_{{endpointUrlType}}_basic_username", "{{api.endpointSecurity.username}}"),
        password: gateway:retrieveConfig("{{api.id}}_{{endpointUrlType}}_basic_password", "")
    }{{/equals}}{{/api.endpointSecurity}}