{{#securityConfig}}{{#equals securityConfig.type "basic"}},
    auth: {
        scheme: "Basic",
        username: gateway:retrieveConfig("{{name}}_{{endpointUrlType}}_basic_username", "{{securityConfig.username}}"),
        password: gateway:retrieveConfig("{{name}}_{{endpointUrlType}}_basic_password", "")
    }{{/equals}}{{/securityConfig}}