{{#if containerConfig.docker.dockerCopyFiles.enable}}
    @docker:CopyFiles {
        files: [
            {{#containerConfig.docker.dockerCopyFiles.files}}
                { {{#if sourceFile}} sourceFile:"{{sourceFile}}", {{/if}}
                  {{#if target}} target:"{{target}}", {{/if}}
                  {{#if isBallerinaConf}} isBallerinaConf:{{isBallerinaConf}} {{/if}}
                }{{#unless @last}},
                {{/unless}}
            {{/containerConfig.docker.dockerCopyFiles.files}}
        ]
    }
{{/if}}