http:FailoverClient|error reInitializedEndpoint = new({
                                                  targets: [
                                                  {{#endpoints}}    {url: {{#if isEtcdEnabled}}<string> getUrlOfEtcdKeyForReInit{{cut qualifiedServiceName " "}}("{{name}}_{{endpointUrlType}}_endpoint_{{@index}}","{{name}}_{{endpointUrlType}}_{{@index}}_etcdKey","{{etcdKey}}", "{{{endpointUrl}}}") {{else}} <string>gateway:retrieveConfig("{{name}}_{{endpointUrlType}}_endpoint_{{@index}}", "{{{endpointUrl}}}") {{/if}} {{>secureSocket}} }{{#unless @last}},
                                                  {{/unless}}{{/endpoints}}
                                                  ],
                                                  {{>http2}}{{>caching}}{{>basicAuth}} });
if(reInitializedEndpoint is http:FailoverClient) {
{{#equals endpointUrlType "prod"}}{{#if hasProdEpConfig}}{{operationId}}{{else}}{{qualifiedServiceName}}{{/if}}_{{endpointUrlType}}{{/equals}}
{{#equals endpointUrlType "sand"}}{{#if hasSandEpConfig}}{{operationId}}{{else}}{{qualifiedServiceName}}{{/if}}_{{endpointUrlType}}{{/equals}}
= reInitializedEndpoint;
}
