http:FailoverClient {{operationId}}_{{endpointUrlType}} = new({
targets: [
{{#endpoints}}    {url: gateway:retrieveConfig("{{name}}_{{endpointUrlType}}_endpoint_{{@index}}", "{{endpointUrl}}")
}{{#unless @last}},
{{/unless}}{{/endpoints}}
]{{>basicResourceAuth}}
});