endpoint http:FailoverClient {{qualifiedServiceName}}_{{endpointUrlType}} {
    targets: [
    {{#endpoints}}    {url: gateway:retrieveConfig("{{api.id}}_{{endpointUrlType}}_endpoint_{{@index}}", "{{endpointUrl}}")}{{#unless @last}},
    {{/unless}}{{/endpoints}}
    ]{{>basicAuth}}
};