json METHOD_NOT_FOUND_RESPONSE = {
                                    "code": 404,
                                    "type":"Status report",
                                    "message":"Runtime Error",
                                    "description":"No matching resource found for given API Request"
                                };

json METHOD_NOT_ALLOWED_RESPONSE = {
                                        "code": 405,
                                        "type":"Status report",
                                        "message":"Runtime Error",
                                        "description":"Method not allowed for given API resource"
                                    };
