var err = trap
{{#equals endpointUrlType "prod"}}{{#if hasProdEpConfig}}{{operationId}}{{else}}{{qualifiedServiceName}}{{/if}}_{{endpointUrlType}}.__init("{{#if hasProdEpConfig}}{{operationId}}{{else}}{{qualifiedServiceName}}{{/if}}_{{endpointUrlType}}", {{/equals}}
{{#equals endpointUrlType "sand"}}{{#if hasSandEpConfig}}{{operationId}}{{else}}{{qualifiedServiceName}}{{/if}}_{{endpointUrlType}}.__init("{{#if hasSandEpConfig}}{{operationId}}{{else}}{{qualifiedServiceName}}{{/if}}_{{endpointUrlType}}", {{/equals}}
                <string>gateway:etcdUrls[<string> gateway:retrieveConfig("{{name}}_{{endpointUrlType}}_{{@index}}_etcdKey","{{etcdKey}}")], config = { {{>http2}}{{>caching}}{{>basicAuth}}{{>secureSocket}} });
