map<string> receivedRevokedTokenMap = gateway:getRevokedTokenMap();
    boolean jmsListenerStarted = gateway:initiateTokenRevocationJmsListener();

    boolean useDefault = gateway:getConfigBooleanValue(gateway:PERSISTENT_MESSAGE_INSTANCE_ID,
        gateway:PERSISTENT_USE_DEFAULT, gateway:DEFAULT_PERSISTENT_USE_DEFAULT);

    //TODO: Re enable this code once the compile errors are fixed
    //if (useDefault){
    //    future<()> initETCDRetriveal = start gateway:etcdRevokedTokenRetrieverTask();
    //} else {
    //    initiatePersistentRevokedTokenRetrieval(receivedRevokedTokenMap);
    //}