{{#if containerConfig.kubernetes.kubernetesService.enable}}
{{>kubernetesService}}
{{else if containerConfig.kubernetes.kubernetesServiceToken.enable}}
@kubernetes:Service {
    {{#if containerConfig.kubernetes.kubernetesServiceToken.name}}
    name:"{{containerConfig.kubernetes.kubernetesServiceToken.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesServiceToken.labels}},
    labels:"{{containerConfig.kubernetes.kubernetesServiceToken.labels}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesServiceToken.serviceType}},
    serviceType:"{{containerConfig.kubernetes.kubernetesServiceToken.serviceType}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesServiceToken.port}},
    port:{{containerConfig.kubernetes.kubernetesServiceToken.port}}{{/if}}
}
{{/if}}