{{#if containerConfig.kubernetes.kubernetesIngress.enable}}
@kubernetes:Ingress {
    {{#if containerConfig.kubernetes.kubernetesIngress.name}}
    name:"{{containerConfig.kubernetes.kubernetesIngress.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesIngress.labels}},
    labels:{{& containerConfig.kubernetes.kubernetesIngress.labels}}{{/if}}{{#if containerConfig.kubernetes.kubernetesIngress.hostname}},
    hostname:"{{containerConfig.kubernetes.kubernetesIngress.hostname}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesIngress.annotations}},
    annotations:{{& containerConfig.kubernetes.kubernetesIngress.annotations}}{{/if}}{{#if containerConfig.kubernetes.kubernetesIngress.path}},
    path:"{{containerConfig.kubernetes.kubernetesIngress.path}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesIngress.targetPath}},
    targetPath:"{{containerConfig.kubernetes.kubernetesIngress.targetPath}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesIngress.ingressClass}},
    ingressClass:"{{containerConfig.kubernetes.kubernetesIngress.ingressClass}}"{{/if}}
}
{{/if}}