{{#if containerConfig.kubernetes.kubernetesService.enable}}
{{>kubernetesService}}
{{else if containerConfig.kubernetes.kubernetesServiceHttp.enable}}
@kubernetes:Service {
    {{#if containerConfig.kubernetes.kubernetesServiceHttp.name}}
    name:"{{containerConfig.kubernetes.kubernetesServiceHttp.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesServiceHttp.labels}},
    labels:{{& containerConfig.kubernetes.kubernetesServiceHttp.labels}}{{/if}}{{#if containerConfig.kubernetes.kubernetesServiceHttp.serviceType}},
    serviceType:"{{containerConfig.kubernetes.kubernetesServiceHttp.serviceType}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesServiceHttp.port}},
    port:{{containerConfig.kubernetes.kubernetesServiceHttp.port}}{{/if}}
}
{{/if}}