{{#if containerConfig.kubernetes.kubernetesHpa.enable}}
@kubernetes:HPA {
    {{#if containerConfig.kubernetes.kubernetesHpa.name}}
    name:"{{containerConfig.kubernetes.kubernetesHpa.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesHpa.labels}},
    labels:{{& containerConfig.kubernetes.kubernetesHpa.labels}}{{/if}}{{#if containerConfig.kubernetes.kubernetesHpa.minReplicas}},
    minReplicas:"{{containerConfig.kubernetes.kubernetesHpa.minReplicas}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesHpa.maxReplicas}},
    maxReplicas:"{{containerConfig.kubernetes.kubernetesHpa.maxReplicas}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesHpa.cpuPrecentage}},
    cpuPrecentage:"{{containerConfig.kubernetes.kubernetesHpa.initialDelaySeconds}}"{{/if}}
}
{{/if}}