{{#if containerConfig.kubernetes.kubernetesSecret.enable}}
@kubernetes:Secret {
    {{#if containerConfig.kubernetes.kubernetesSecret.name}}
    name:"{{containerConfig.kubernetes.kubernetesSecret.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesSecret.mountPath}},
    mountPath:"{{containerConfig.kubernetes.kubernetesSecret.mountPath}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesSecret.readOnly}},
    readOnly:"{{containerConfig.kubernetes.kubernetesSecret.readOnly}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesSecret.data}},
    data:"{{containerConfig.kubernetes.kubernetesSecret.accessMode}}"{{/if}}
}
{{/if}}