{{#if containerConfig.kubernetes.kubernetesJob.enable}}
@kubernetes:Job {
    {{#if containerConfig.kubernetes.kubernetesJob.name}}
    name:"{{containerConfig.kubernetes.kubernetesJob.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.labels}},
    labels:{{& containerConfig.kubernetes.kubernetesJob.labels}}{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.restartPolicy}},
    restartPolicy:"{{containerConfig.kubernetes.kubernetesJob.restartPolicy}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.backoffLimit}},
    backoffLimit:"{{containerConfig.kubernetes.kubernetesJob.backoffLimit}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.activeDeadlineSeconds}},
    activeDeadlineSeconds:"{{containerConfig.kubernetes.kubernetesJob.activeDeadlineSeconds}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.schedule}},
    schedule:"{{containerConfig.kubernetes.kubernetesJob.schedule}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.imagePullPolicy}},
    imagePullPolicy:"{{containerConfig.kubernetes.kubernetesJob.imagePullPolicy}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.image}},
    image:"{{containerConfig.kubernetes.kubernetesJob.image}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.env}},
    env:"{{containerConfig.kubernetes.kubernetesJob.env}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.buildImage}},
    buildImage:"{{containerConfig.kubernetes.kubernetesJob.buildImage}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.dockerHost}},
    dockerHost:"{{containerConfig.kubernetes.kubernetesJob.dockerHost}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.dockerCertPath}},
    dockerCertPath:"{{containerConfig.kubernetes.kubernetesJob.dockerCertPath}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.push}},
    push:"{{containerConfig.kubernetes.kubernetesJob.push}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.username}},
    username:"{{containerConfig.kubernetes.kubernetesJob.username}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.password}},
    password:"{{containerConfig.kubernetes.kubernetesJob.password}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesJob.baseImage}},
    baseImage:"{{containerConfig.kubernetes.kubernetesJob.baseImage}}"{{/if}}
}
{{/if}}