{{#if containerConfig.kubernetes.kubernetesDeployment.enable}}
@kubernetes:Deployment {
    {{#if containerConfig.kubernetes.kubernetesDeployment.name}}
    name:"{{containerConfig.kubernetes.kubernetesDeployment.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.labels}},
    labels:{{& containerConfig.kubernetes.kubernetesDeployment.labels}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.replicas}},
    replicas:{{containerConfig.kubernetes.kubernetesDeployment.replicas}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.enableLiveness}},
    enableLiveness:{{containerConfig.kubernetes.kubernetesDeployment.enableLiveness}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.initialDelaySeconds}},
    initialDelaySeconds:{{containerConfig.kubernetes.kubernetesDeployment.initialDelaySeconds}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.periodSeconds}},
    periodSeconds:{{containerConfig.kubernetes.kubernetesDeployment.periodSeconds}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.livenessPort}},
    livenessPort:{{containerConfig.kubernetes.kubernetesDeployment.livenessPort}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.image}},
    image:"{{containerConfig.kubernetes.kubernetesDeployment.image}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.imagePullPolicy}},
    imagePullPolicy:"{{containerConfig.kubernetes.kubernetesDeployment.imagePullPolicy}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.env}},
    env:{{{containerConfig.kubernetes.kubernetesDeployment.env}}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.buildImage}},
    buildImage:{{containerConfig.kubernetes.kubernetesDeployment.buildImage}}{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.copyFiles.enable}},
    copyFiles:[
      {{#containerConfig.kubernetes.kubernetesDeployment.copyFiles.files}}
          {
            {{#if sourceFile}} sourceFile:"{{sourceFile}}", {{/if}}
            {{#if target}} target:"{{target}}" {{/if}}
          }{{#unless @last}},{{/unless}}
      {{/containerConfig.kubernetes.kubernetesDeployment.copyFiles.files}}
    ]{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.dockerHost}},
    dockerHost:"{{containerConfig.kubernetes.kubernetesDeployment.dockerHost}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.dockerCertPath}},
    dockerCertPath:"{{containerConfig.kubernetes.kubernetesDeployment.dockerCertPath}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.push}},
    push:{{containerConfig.kubernetes.kubernetesDeployment.push}},
    username:"$env{DOCKER_USERNAME}",
    password:"$env{DOCKER_PASSWORD}"{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.baseImage}},
    baseImage:"{{containerConfig.kubernetes.kubernetesDeployment.baseImage}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesDeployment.singleYAML}},
    singleYAML:{{containerConfig.kubernetes.kubernetesDeployment.singleYAML}}{{/if}}
}
{{/if}}