{{#if containerConfig.kubernetes.kubernetesConfigMap.enable}}
@kubernetes:ConfigMap {
    {{#if containerConfig.kubernetes.kubernetesConfigMap.name}}
    name:"{{containerConfig.kubernetes.kubernetesConfigMap.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesConfigMap.mountPath}},
    mountPath:"{{containerConfig.kubernetes.kubernetesConfigMap.mountPath}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesConfigMap.readOnly}},
    readOnly:"{{containerConfig.kubernetes.kubernetesConfigMap.readOnly}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesConfigMap.ballerinaConf}},
    ballerinaConf:"{{containerConfig.kubernetes.kubernetesConfigMap.ballerinaConf}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesConfigMap.data}},
    data:"{{containerConfig.kubernetes.kubernetesConfigMap.data}}"{{/if}}
}
{{/if}}