http:LoadBalanceClient {{qualifiedServiceName}}_{{endpointUrlType}} {
    targets: [
    {{#endpoints}}    {url: gateway:retrieveConfig("{{api.id}}_{{endpointUrlType}}_endpoint_{{@index}}", "{{endpointUrl}}")}{{#unless @last}},
    {{/unless}}{{/endpoints}}
    ],
    algorithm: http:ROUND_ROBIN{{>caching}}{{>basicAuth}}
};