endpoint http:LoadBalanceClient {{qualifiedServiceName}}_{{type}} {
    targets: [
    {{#inline.endpointConfig.list}}    {url: gateway:retrieveConfig("{{api.id}}_{{type}}_endpoint_{{@index}}", "{{url}}")}{{#unless @last}},
    {{/unless}}{{/inline.endpointConfig.list}}
    ],
    algorithm: http:ROUND_ROBIN{{>caching}}{{>basicAuth}}
};