gateway:LoadBalanceClient {{operationId}}_{{endpointUrlType}} = new("{{operationId}}_{{endpointUrlType}}", {
targets: [
{{#endpoints}}    {url: {{#if isEtcdEnabled}}gateway:etcdSetup("{{name}}_{{endpointUrlType}}_endpoint_{{@index}}","{{name}}_{{endpointUrlType}}_{{@index}}_etcdKey","{{endpointUrl}}","{{etcdKey}}"){{else}}gateway:retrieveConfig("{{name}}_{{endpointUrlType}}_endpoint_{{@index}}", "{{endpointUrl}}"){{/if}}
{{>secureSocket}} }{{#unless @last}},
{{/unless}}{{/endpoints}}
],
{{>http2}}{{>caching}}{{>basicAuth}}
});