import wso2/gateway;
import ballerina/http;
import ballerina/log;

{{#if containerConfig.hasDocker}}import ballerinax/docker;{{/if}}
{{#if containerConfig.kubernetes.kubernetesService.enable}}import ballerinax/kubernetes;{{/if}}

//Throttle tier data initiation

{{#if config.mutualSSL.certificateDetails}}
    json ClientCerts ={{{config.mutualSSL.certificateDetails}}};
{{else}}
    json ClientCerts=null;
{{/if}}



// Get authentication filter
gateway:PreAuthnFilter preAuthnFilter = new;
// Subscription validation filter
// Authorization filter
gateway:OAuthzFilter authorizationFilter = gateway:getDefaultAuthorizationFilter();
gateway:SubscriptionFilter subscriptionFilter = new;
// Get deployed policies
map<boolean> deployedPolicies = getDeployedPolicies();
// Throttling filter
//gateway:ThrottleFilter throttleFilter = new(deployedPolicies);
//get open API definition map
map<json> openAPIs = getOpenAPIs();
// Validation filter
//gateway:ValidationFilter validationFilter = new(openAPIs);
// Analytics filter
//gateway:AnalyticsRequestFilter analyticsFilter = new;
// Extension filter
ExtensionFilter extensionFilter = new;

http:ServiceEndpointConfiguration secureServiceEndpointConfiguration = { {{>http2}},
                                                                           {{>mutualSSL}}
                                                                           auth: {
                                                                                authHandlers: gateway:getAuthHandlers()
                                                                           },
                                                                           filters:[mtslFilter, preAuthnFilter, authorizationFilter, subscriptionFilter,
                                                                           extensionFilter]
                                                                       };

{{>docker}}
{{>secureKubernetesIngress}}
{{>kubernetesService}}
listener gateway:APIGatewaySecureListener apiSecureListener = new(9095, secureServiceEndpointConfiguration);

http:ServiceEndpointConfiguration serviceEndpointConfiguration = { {{>http2}},
                                                                     auth: {
                                                                        authHandlers: gateway:getAuthHandlers()
                                                                     },
                                                                     filters:[preAuthnFilter, authorizationFilter, subscriptionFilter,
                                                                     extensionFilter]
                                                                 };

{{>kubernetesIngress}}
{{>kubernetesService}}
listener gateway:APIGatewayListener apiListener = new(9090, serviceEndpointConfiguration);


{{>secureKubernetesIngress}}
{{>kubernetesService}}
listener http:Listener tokenListenerEndpoint = new (
    {{#if containerConfig.kubernetes.secureKubernetesIngress.enable}}
        9096, config = {
        secureSocket: {
            keyStore: {
                path:  {{#if containerConfig.kubernetes.secureKubernetesIngress.keyStorePath}}
                    "{{containerConfig.kubernetes.secureKubernetesIngress.keyStorePath}}",
                {{else}}
                    "${ballerina.home}/bre/security/ballerinaKeystore.p12",
                {{/if}}
                password: {{#if containerConfig.kubernetes.secureKubernetesIngress.keyStorePassword}}
                    "{{containerConfig.kubernetes.secureKubernetesIngress.keyStorePassword}}"
                {{else}}
                    "ballerina"
                {{/if}}
            }
        }
    {{else if containerConfig.kubernetes.kubernetesService.enable}}
        9096, config = {
        host: gateway:getConfigValue(gateway:LISTENER_CONF_INSTANCE_ID, gateway:LISTENER_CONF_HOST, "localhost"),
        secureSocket: {
            keyStore: {
                path: gateway:getConfigValue(gateway:LISTENER_CONF_INSTANCE_ID, gateway:LISTENER_CONF_KEY_STORE_PATH,
                    "${ballerina.home}/bre/security/ballerinaKeystore.p12"),
                password: gateway:getConfigValue(gateway:LISTENER_CONF_INSTANCE_ID,
                    gateway:LISTENER_CONF_KEY_STORE_PASSWORD, "ballerina")
            }
        }
    {{else}}
        gateway:getConfigIntValue(gateway:LISTENER_CONF_INSTANCE_ID, gateway:TOKEN_LISTENER_PORT, 9096), config = {
        host: gateway:getConfigValue(gateway:LISTENER_CONF_INSTANCE_ID, gateway:LISTENER_CONF_HOST, "localhost"),
        secureSocket: {
            keyStore: {
                path: gateway:getConfigValue(gateway:LISTENER_CONF_INSTANCE_ID, gateway:LISTENER_CONF_KEY_STORE_PATH,
                    "${ballerina.home}/bre/security/ballerinaKeystore.p12"),
                password: gateway:getConfigValue(gateway:LISTENER_CONF_INSTANCE_ID,
                    gateway:LISTENER_CONF_KEY_STORE_PASSWORD, "ballerina")
            }
        }
    {{/if}}
    }
);




