{{#if config.mutualSSL.sslVerify }}

    secureSocket: {
    keyStore: {
    path:  config:getAsString("listenerConfig.keyStore.path"),
    password: config:getAsString("listenerConfig.keyStore.password")
    },
    trustStore: {
    path:  config:getAsString("jwtTokenConfig.trustStore.path"),
    password: config:getAsString("jwtTokenConfig.trustStore.password")
    },
    protocol: {
    name: config:getAsString("mtslConfig.ProtocolName"),
    versions: ["TLSv1.2", "TLSv1.1"]
    },

    ciphers: ["TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA"],

    sslVerifyClient: config:getAsString("mtslConfig.sslVerifyClient")
    },
{{/if}}