http:Response res = new;
res.statusCode = 403;
string errorMessage = "Production key offered to the API with no production endpoint";
if (! invocationContext.attributes.hasKey(IS_GRPC)) {
    json payload = {
        ERROR_CODE: "900901",
        ERROR_MESSAGE: errorMessage
    };
    res.setPayload(payload);
} else {
    gateway:attachGrpcErrorHeaders (res, errorMessage);
}
invocationContext.attributes["error_code"] = "900901";
clientResponse = res;