http:Response res = new;
res.statusCode = 403;
json payload = {
    ERROR_CODE: "900901",
    ERROR_MESSAGE: "Production key offered to the API with no production endpoint"
};
invocationContext.attributes["error_code"] = "900901";
res.setPayload(payload);
clientResponse = res;