import wso2/gateway;

stream<gateway:InputRequest> s{{name}}inputStream =gateway:getinputStream();
stream<gateway:ThrottledRequest> s{{name}}outputStream = gateway:getoutputStream();

function {{funcName}}() {
    forever {
        from s{{name}}inputStream window gateway:throttle({{count}},{{unitTime}},s{{name}}inputStream.{{policyKey}})
           where s{{name}}inputStream.{{tierType}} == "{{name}}"
           select s{{name}}inputStream.{{policyKey}} as policyKey,{{stopOnQuotaReach}} as stopOnQuota, s{{name}}inputStream.resetTimestamp,s{{name}}inputStream.remainingQuota,s{{name}}inputStream.isThrottled
           => (gateway:ThrottledRequest [] requests) {
               foreach var r in requests {
                  s{{name}}outputStream.publish(r);
               }
           }
    }
}


