import ballerina/log;
import wso2/gateway;


function initThrottlePolicies() {
    //TODO : move this to a future function call in throttle_util.bal once
    future<()> ftr = start gateway:initializeThrottleSubscription();
    //TODO: Enable once the jms module with ballerina
    boolean globalThrottlingEnabled = gateway:initiateThrottlingJmsListener();

     if(!globalThrottlingEnabled){
         while (true) {
             if(gateway:getIsStreamsInitialized()) {
                            log:printDebug("Throttle streams initialized.");
                            break;
             }
         }
     }
}

function getDeployedPolicies() returns map<json> {
    return {
    {{#policyList}}"{{name}}": {
        count : {{count}},
        unitTime : {{unitTime}},
        timeUnit : "{{timeUnit}}",
        stopOnQuota : {{stopOnQuotaReach}}
    } {{#unless @last}},{{/unless}}{{/policyList}}
    };
}
