import wso2/gateway;

stream<gateway:RequestStreamDTO> s{{name}}requestStream =gateway:getrequestStream();
stream<gateway:GlobalThrottleStreamDTO> s{{name}}globalThrottleStream = gateway:getglobalThrottleStream();

function {{funcName}}() {
    forever {
        from s{{name}}requestStream window gateway:throttle({{count}},{{unitTime}},s{{name}}requestStream.{{policyKey}})
           where s{{name}}requestStream.{{tierType}} == "{{name}}"
           select s{{name}}requestStream.{{policyKey}} as policyKey,{{stopOnQuotaReach}} as stopOnQuota, s{{name}}requestStream.resetTimestamp,s{{name}}requestStream.remainingQuota,s{{name}}requestStream.isThrottled
           => (gateway:GlobalThrottleStreamDTO [] requests) {
               foreach var r in requests {
                  s{{name}}globalThrottleStream.publish(r);
               }
           }
    }
}
