import ballerina/log;
import ballerina/runtime;
import wso2/gateway;

future ftr = start initThrottlePolicies();

function initThrottlePolicies() {
    while (true) {
        if(gateway:isStreamsInitialized == true) {
            log:printDebug("Throttle streams initialized.");
            break;
        }
    }
{{#policyInitNames}}
    future {{.}}Ftr = start {{.}}();
{{/policyInitNames}}
    log:printDebug("Throttle policies initialized.");
}

function getDeployedPolicies() returns map {
    {{#if policyNames}}
    return { {{#policyNames}}"{{.}}":true{{#unless @last}},{{/unless}}{{/policyNames}} };
    {{else}}
    map m;
    return m;
    {{/if}}
}