import wso2/gateway;


function initThrottlePolicies() {
    future<()> ftr = start gateway:initializeThrottleSubscription();
    boolean globalThrottlingEnabled = gateway:initiateThrottlingJmsListener();

}

function getDeployedPolicies() returns map<json> {
    return {
    {{#policyList}}"{{name}}": {
        count : {{count}},
        unitTime : {{unitTime}},
        timeUnit : "{{timeUnit}}",
        stopOnQuota : {{stopOnQuotaReach}}
    } {{#unless @last}},{{/unless}}{{/policyList}}
    };
}
