, responseLimits : {
      maxStatusLineLength : gateway:getConfigIntValue(gateway:HTTP_CLIENTS_RESPONSE_LIMITS_CONFIG_INSTANCE_ID,
      gateway:HTTP_CLIENTS_RESPONSE_MAX_STATUS_LINE_LENGTH, gateway:DEFAULT_HTTP_CLIENTS_RESPONSE_MAX_STATUS_LINE_LENGTH),
      maxHeaderSize : gateway:getConfigIntValue(gateway:HTTP_CLIENTS_RESPONSE_LIMITS_CONFIG_INSTANCE_ID,
      gateway:HTTP_CLIENTS_RESPONSE_MAX_HEADER_SIZE, gateway:DEFAULT_HTTP_CLIENTS_RESPONSE_MAX_HEADER_SIZE),
      maxEntityBodySize: gateway:getConfigIntValue(gateway:HTTP_CLIENTS_RESPONSE_LIMITS_CONFIG_INSTANCE_ID,
      gateway:HTTP_CLIENTS_RESPONSE_MAX_ENTITY_BODY_SIZE, gateway:DEFAULT_HTTP_CLIENTS_RESPONSE_MAX_ENTITY_BODY_SIZE)
  }
