import ballerina/http;
import ballerina/time;
import ballerina/runtime;{{#importModules}}
import {{.}};{{/importModules}}
{{#if containerConfig.hasKubernetes}}import ballerina/kubernetes;{{/if}}
import wso2/gateway;
{{#if hasEpSecurity}}
    import ballerina/auth;
{{/if}}
{{#equals endpointConfig.prodEndpoints.type "http"}}
    {{#endpointConfig.prodEndpoints}}{{>basicAuthHandler}}{{>httpEndpoint}}{{/endpointConfig.prodEndpoints}}
{{/equals}}
{{#equals endpointConfig.sandEndpoints.type "http"}}
    {{#endpointConfig.sandEndpoints}}{{>basicAuthHandler}}{{>httpEndpoint}}{{/endpointConfig.sandEndpoints}}
{{/equals}}
{{#equals endpointConfig.prodEndpoints.type "load_balance"}}
    {{#endpointConfig.prodEndpoints}}{{>basicAuthHandler}}{{>lbEndpoint}}{{/endpointConfig.prodEndpoints}}
{{/equals}}
{{#equals endpointConfig.sandEndpoints.type "load_balance"}}
    {{#endpointConfig.sandEndpoints}}{{>basicAuthHandler}}{{>lbEndpoint}}{{/endpointConfig.sandEndpoints}}
{{/equals}}
{{#equals endpointConfig.prodEndpoints.type "failover"}}
    {{#endpointConfig.prodEndpoints}}{{>basicAuthHandler}}{{>failoverEndpoint}}{{/endpointConfig.prodEndpoints}}
{{/equals}}
{{#equals endpointConfig.sandEndpoints.type "failover"}}
    {{#endpointConfig.sandEndpoints}}{{>basicAuthHandler}}{{>failoverEndpoint}}{{/endpointConfig.sandEndpoints}}
{{/equals}}

{{#paths}}{{#value}}{{#operations}}{{#value}}
    {{#equals epConfig.prodEndpoints.type "http"}} {{#epConfig.prodEndpoints}}{{>basicAuthHandler}}{{>httpResourceEndpoint}}{{/epConfig.prodEndpoints}} {{/equals}}
    {{#equals epConfig.sandEndpoints.type "http"}} {{#epConfig.sandEndpoints}}{{>basicAuthHandler}}{{>httpResourceEndpoint}}{{/epConfig.sandEndpoints}} {{/equals}}
    {{#equals epConfig.prodEndpoints.type "load_balance"}} {{#epConfig.prodEndpoints}}{{>basicAuthHandler}}{{>lbResourceEndpoint}}{{/epConfig.prodEndpoints}} {{/equals}}
    {{#equals epConfig.sandEndpoints.type "load_balance"}} {{#epConfig.sandEndpoints}}{{>basicAuthHandler}}{{>lbResourceEndpoint}}{{/epConfig.sandEndpoints}} {{/equals}}
    {{#equals epConfig.prodEndpoints.type "failover"}} {{#epConfig.prodEndpoints}}{{>basicAuthHandler}}{{>failoverResourceEndpoint}}{{/epConfig.prodEndpoints}} {{/equals}}
    {{#equals epConfig.sandEndpoints.type "failover"}} {{#epConfig.sandEndpoints}}{{>basicAuthHandler}}{{>failoverResourceEndpoint}}{{/epConfig.sandEndpoints}} {{/equals}}

    {{#if @root.requestInterceptor}}
    int {{operationId}}_api_request_interceptor_index = -1;
    {{/if}}
    {{#if @root.responseInterceptor}}
    int {{operationId}}_api_response_interceptor_index = -1;
    {{/if}}

    {{#if requestInterceptor}}
    int {{operationId}}_request_interceptor_index = -1;
    {{/if}}
    {{#if responseInterceptor}}
    int {{operationId}}_response_interceptor_index = -1;
    {{/if}}

{{/value}}{{/operations}}{{/value}}{{/paths}}

{{>kubernetes}}

//This variable is added for logging purposes
string {{cut qualifiedServiceName " "}}Key = "{{api.name}}-{{api.version}}";

@http:ServiceConfig {
    basePath: "{{basepath}}"{{!-- {{only one base path is allowed for all  endpoints}} --}},
    auth: {
        authHandlers: gateway:getAuthHandlers([{{#authProviders}}"{{.}}"{{#unless @last}},{{/unless}}{{/authProviders}}], {{applicationSecurityOptional}}, {{isMutualSSL}})
    }
   {{#api.corsConfiguration.corsConfigurationEnabled}},
    cors: {
         allowOrigins: [{{#api.corsConfiguration.accessControlAllowOrigins}}"{{.}}"{{#unless @last}},{{/unless}}{{/api.corsConfiguration.accessControlAllowOrigins}}],
         allowCredentials: {{api.corsConfiguration.accessControlAllowCredentials}},
         allowHeaders: [{{#api.corsConfiguration.accessControlAllowHeaders}}"{{.}}"{{#unless @last}},{{/unless}}{{/api.corsConfiguration.accessControlAllowHeaders}}],
         allowMethods: [{{#api.corsConfiguration.accessControlAllowMethods}}"{{.}}"{{#unless @last}},{{/unless}}{{/api.corsConfiguration.accessControlAllowMethods}}]
    }
    {{/api.corsConfiguration.corsConfigurationEnabled}}
}

@gateway:API {
    publisher:"{{api.provider}}",
    name:"{{api.name}}",
    apiVersion: "{{api.version}}",
    apiTier : "{{api.apiLevelPolicy}}" {{#if api.authorizationHeader}},
    authorizationHeader : "{{api.authorizationHeader}}" {{/if}},
    authProviders: [{{#authProviders}}"{{.}}"{{#unless @last}},{{/unless}}{{/authProviders}}],
    security: {
            "apikey":[{{#apiKeys}} { "in": "{{in}}", "name": "{{name}}" } {{#unless @last}},{{/unless}}{{/apiKeys}}],
            "mutualSSL": "{{mutualSSLClientVerification}}",
            "applicationSecurityOptional": {{applicationSecurityOptional}}
        }
}
service {{cut qualifiedServiceName " "}} on {{#api.transport}}{{#equals . "http"}}apiListener{{#unless @last}},
{{/unless}}{{/equals}}{{#equals . "https"}}apiSecureListener{{/equals}}{{/api.transport}} {
{{#paths}}{{#value}}{{#operations}}{{#value}}

    @http:ResourceConfig {
        methods:["{{upper key}}"],
        path:"{{../../key}}",
        auth:{
        {{#if isSecured}}
            {{#if scope}}
                scopes: [{{{scope}}}], {{/if}}
        {{else}}
            enabled:false,
        {{/if}}
            authHandlers: gateway:getAuthHandlers([{{#authProviders}}"{{.}}"{{#unless @last}},{{/unless}}{{/authProviders}}], {{applicationSecurityOptional}}, {{isMutualSSL}})
        }
    }
    @gateway:Resource {
        authProviders: [{{#authProviders}}"{{.}}"{{#unless @last}},{{/unless}}{{/authProviders}}],
        security: {
            "apikey":[{{#apiKeys}} { "in": "{{in}}", "name": "{{name}}" } {{#unless @last}},{{/unless}}{{/apiKeys}}],
            "applicationSecurityOptional": {{applicationSecurityOptional}} 
            }
    }
    @gateway:RateLimit{policy : "{{resourceTier}}"}
    resource function {{operationId}} (http:Caller outboundEp, http:Request req{{>pathParameters}}) {
        handleExpectHeaderFor{{cut qualifiedServiceName " "}}(outboundEp, req);
        runtime:InvocationContext invocationContext = runtime:getInvocationContext();

        map<string> pathParams = { {{#parameters}}{{#equals in "path"}}
            "{{name}}": <@untainted>{{name}}{{#unless @last}},{{/unless}} {{/equals}}{{/parameters}}
        };
        invocationContext.attributes["pathParams"] = pathParams;

        {{~#if @root.requestInterceptor}}
        {{#equals @root.requestInterceptor requestInterceptor}}
        {{else}}
        if({{operationId}}_api_request_interceptor_index == -1) {
        {{^@root.isJavaRequestInterceptor}}
            {{@root.requestInterceptor}}(outboundEp, req);
            if (invocationContext.attributes.hasKey(gateway:RESPOND_DONE) && <boolean>invocationContext.attributes[gateway:RESPOND_DONE]) {
                return;
            }
        {{/@root.isJavaRequestInterceptor}}
        } else {
            if (!gateway:invokeRequestInterceptor({{operationId}}_api_request_interceptor_index, outboundEp, req)) {
                if (respondFromJavaInterceptor{{cut qualifiedServiceName " "}}(invocationContext, <@untainted>outboundEp)) {
                    // return only if  interceptor returned false and respond is called from interceptor.
                    return;
                }
            }
        }{{/equals}}{{/if}}
        {{#if requestInterceptor}}
        if({{operationId}}_request_interceptor_index == -1) {
        {{^isJavaRequestInterceptor}}
            {{requestInterceptor}}(outboundEp, req);
            if (invocationContext.attributes.hasKey(gateway:RESPOND_DONE) && <boolean>invocationContext.attributes[gateway:RESPOND_DONE]) {
                return;
            }
        {{/isJavaRequestInterceptor}}
        } else {
            if(!gateway:invokeRequestInterceptor({{operationId}}_request_interceptor_index, outboundEp, req)) {
                if (respondFromJavaInterceptor{{cut qualifiedServiceName " "}}(invocationContext, <@untainted>outboundEp)) {
                    // return only if interceptor returned false and respond is called from interceptor.
                    return;
                }
            }
        }
        {{/if}}

        {{#if isGrpc}}
            string urlPostfix = <@untainted>req.rawPath;
        {{else}}
        string urlPostfix = gateway:replaceFirst(req.rawPath,"{{basepath}}","");
        {{/if}}
        if(urlPostfix != "" && !gateway:hasPrefix(urlPostfix, "/")) {
            urlPostfix = "/" + urlPostfix;
        }
        http:Response|error clientResponse;
        http:Response r = new;
        clientResponse = r;
        string destination_attribute;
        invocationContext.attributes["timeStampRequestOut"] = time:currentTime().time;
        boolean reinitRequired = false;
        string failedEtcdKey = "";
        string failedEtcdKeyConfigValue = "";
        boolean|error hasUrlChanged;
        http:ClientConfiguration newConfig;
        boolean reinitFailed = false;
        boolean isProdEtcdEnabled = false;
        boolean isSandEtcdEnabled = false;
        map<string> endpointEtcdConfigValues = {};
        {{#endpointConfig.prodEndpoints}}
            {{#endpointConfig.sandEndpoints}}
                if("PRODUCTION" == <string>invocationContext.attributes["KEY_TYPE"]) {
                {{#if hasProdEpConfig}}
                    {{>useResourceProdEp}}
                {{else}}
                    {{>useAPIProdEp}}
                {{/if}}
                } else {
                {{#if hasSandEpConfig}}
                    {{>useResourceSandEp}}
                {{else}}
                    {{>useApiSandEp}}
                {{/if}}
                }
            {{/endpointConfig.sandEndpoints}}
            {{^endpointConfig.sandEndpoints}}
                if("PRODUCTION" == <string>invocationContext.attributes["KEY_TYPE"]) {
                {{#if hasProdEpConfig}}
                    {{>useResourceProdEp}}
                {{else}}
                    {{>useAPIProdEp}}
                {{/if}}
                    } else {
                {{#if hasSandEpConfig}}
                    {{>useResourceSandEp}}
                {{else}}
                    {{>noSandAvailableError}}
                {{/if}}
                }
            {{/endpointConfig.sandEndpoints}}
        {{/endpointConfig.prodEndpoints}}
        {{^endpointConfig.prodEndpoints}}
            {{#endpointConfig.sandEndpoints}}
                if("SANDBOX" == <string>invocationContext.attributes["KEY_TYPE"]) {
                {{#if hasSandEpConfig}}
                    {{>useResourceSandEp}}
                {{else}}
                    {{>useApiSandEp}}
                {{/if}}
                    } else {
                {{#if hasProdEpConfig}}
                    {{>useResourceProdEp}}
                {{else}}
                            {{>noProdAvailableError}}
                {{/if}}
                }
            {{/endpointConfig.sandEndpoints}}
            {{^endpointConfig.sandEndpoints}}
                {{#if hasSandEpConfig}}
                    if("SANDBOX" == <string>invocationContext.attributes["KEY_TYPE"]) {
                    {{>useResourceSandEp}}
                        } else {
                    {{#if hasProdEpConfig}}
                    {{else}}
                        {{>noProdAvailableError}}
                    }
                    {{/if}}
                {{else}}
                    {{#if hasProdEpConfig}}
                    if("PRODUCTION" == <string>invocationContext.attributes["KEY_TYPE"]) {
                    {{/if}}
                {{/if}}
                {{#if hasProdEpConfig}}
                    {{>useResourceProdEp}}
                    {{#if hasSandEpConfig}}
                    {{else}}
                        } else {
                            {{>noSandAvailableError}}
                    {{/if}}
                    }
                {{/if}}
            {{/endpointConfig.sandEndpoints}}
        {{/endpointConfig.prodEndpoints}}
        invocationContext.attributes["timeStampResponseIn"] = time:currentTime().time;


        if(clientResponse is http:Response) {
            {{#if responseInterceptor}}
            if({{operationId}}_response_interceptor_index == -1) {
            {{^isJavaResponseInterceptor}}
                {{responseInterceptor}} (outboundEp, clientResponse);
                if (invocationContext.attributes.hasKey(gateway:RESPOND_DONE) && <boolean>invocationContext.attributes[gateway:RESPOND_DONE]) {
                    return;
                }
            {{/isJavaResponseInterceptor}}
            } else {
                if (!gateway:invokeResponseInterceptor({{operationId}}_response_interceptor_index, outboundEp, clientResponse)) {
                    if (respondFromJavaInterceptor{{cut qualifiedServiceName " "}}(invocationContext, <@untainted>outboundEp)) {
                        // return only if interceptor returned false and respond is called from interceptor.
                        return;
                    }
                }
            }{{/if}}
            {{~#if @root.responseInterceptor}}
            {{#equals @root.responseInterceptor responseInterceptor}}
            {{else}}
            if ({{operationId}}_api_response_interceptor_index == -1) {
            {{^@root.isJavaResponseInterceptor}}
                {{@root.responseInterceptor}} (outboundEp, clientResponse);
                if (invocationContext.attributes.hasKey(gateway:RESPOND_DONE) && <boolean>invocationContext.attributes[gateway:RESPOND_DONE]) {
                    return;
                }
            {{/@root.isJavaResponseInterceptor}}
            } else {
                if (!gateway:invokeResponseInterceptor({{operationId}}_api_response_interceptor_index, outboundEp, clientResponse)) {
                    if (respondFromJavaInterceptor{{cut qualifiedServiceName " "}}(invocationContext, <@untainted>outboundEp)) {
                        // return only if interceptor returned false and respond is called from interceptor.
                        return;
                    }
                }
            }{{/equals}}{{/if}}

            invocationContext.attributes[gateway:DID_EP_RESPOND] = true;
            var outboundResult = outboundEp->respond(clientResponse);
            if (outboundResult is error) {
                gateway:printError({{cut qualifiedServiceName " "}}Key, "Error when sending response", outboundResult);
            }
        } else {
            http:Response res = new;
            res.statusCode = 500;
            string errorMessage = clientResponse.reason();
            int errorCode = 101503;
            string errorDescription = "Error connecting to the back end";

            if(gateway:contains(errorMessage, "connection timed out") || gateway:contains(errorMessage,"Idle timeout triggered")) {
                errorCode = 101504;
                errorDescription = "Connection timed out";
            }
            if(gateway:contains(errorMessage, "Malformed URL")) {
                errorCode = 101505;
                errorDescription = "Malformed URL";
            }
            invocationContext.attributes["error_response_code"] = errorCode;
            invocationContext.attributes["error_response"] = errorDescription;
            if (! invocationContext.attributes.hasKey(gateway:IS_GRPC)) {
                json payload = {fault : {
                                code : errorCode,
                                message : "Runtime Error",
                                description : errorDescription
                            }};

                            res.setPayload(payload);
            } else {
                gateway:attachGrpcErrorHeaders (res, errorDescription);
            }
            gateway:printError({{cut qualifiedServiceName " "}}Key, "Error in client response", clientResponse);
            var outboundResult = outboundEp->respond(res);
            if (outboundResult is error) {
                gateway:printError({{cut qualifiedServiceName " "}}Key, "Error when sending response", outboundResult);
            }
        }
    }
{{/value}}{{/operations}}{{/value}}{{/paths}}
}

    function handleExpectHeaderFor{{cut qualifiedServiceName " "}} (http:Caller outboundEp, http:Request req ) {
        if (req.expects100Continue()) {
            req.removeHeader("Expect");
            var result = outboundEp->continue();
            if (result is error) {
            gateway:printError({{cut qualifiedServiceName " "}}Key, "Error while sending 100 continue response", result);
            }
        }
    }

function getUrlOfEtcdKeyForReInit{{cut qualifiedServiceName " "}}(string defaultUrlRef,string etcdRef, string defaultUrl, string etcdKey) returns string {
    string retrievedEtcdKey = <string> gateway:retrieveConfig(etcdRef,etcdKey);
    map<any> urlChangedMap = gateway:getUrlChangedMap();
    urlChangedMap[<string> retrievedEtcdKey] = false;
    map<string> etcdUrls = gateway:getEtcdUrlsMap();
    string url = <string> etcdUrls[retrievedEtcdKey];
    if (url == "") {
        return <string> gateway:retrieveConfig(defaultUrlRef, defaultUrl);
    } else {
        return url;
    }
}

function respondFromJavaInterceptor{{cut qualifiedServiceName " "}}(runtime:InvocationContext invocationContext, http:Caller outboundEp) returns boolean {
    boolean tryRespond = false;
    if(invocationContext.attributes.hasKey(gateway:RESPOND_DONE) && invocationContext.attributes.hasKey(gateway:RESPONSE_OBJECT)) {
        if(<boolean>invocationContext.attributes[gateway:RESPOND_DONE]) {
            http:Response clientResponse = <http:Response>invocationContext.attributes[gateway:RESPONSE_OBJECT];
            var outboundResult = outboundEp->respond(clientResponse);
            if (outboundResult is error) {
                gateway:printError({{cut qualifiedServiceName " "}}Key, "Error when sending response from the interceptor", outboundResult);
            }
            tryRespond = true;
        }
    }
    return tryRespond;
}

function initInterceptorIndexes{{cut qualifiedServiceName " "}}() {

{{#paths}}{{#value}}{{#operations}}{{#value}}
    {{#if @root.requestInterceptor}}
        string {{operationId}}_api_request_interceptor_name = "{{@root.requestInterceptor}}";
        if({{operationId}}_api_request_interceptor_name.startsWith("java:")) {
            {{operationId}}_api_request_interceptor_index = gateway:loadInterceptorClass({{operationId}}_api_request_interceptor_name.substring(5, {{operationId}}_api_request_interceptor_name.length()));
        }
        {{/if}}
        {{#if @root.responseInterceptor}}
        string {{operationId}}_api_response_interceptor_name = "{{@root.responseInterceptor}}";
        if({{operationId}}_api_response_interceptor_name.startsWith("java:")) {
            {{operationId}}_api_response_interceptor_index = gateway:loadInterceptorClass({{operationId}}_api_response_interceptor_name.substring(5, {{operationId}}_api_response_interceptor_name.length()));
        }
        {{/if}}

        {{#if requestInterceptor}}
        string {{operationId}}_request_interceptor_name = "{{requestInterceptor}}";
        if({{operationId}}_request_interceptor_name.startsWith("java:")) {
            {{operationId}}_request_interceptor_index = gateway:loadInterceptorClass({{operationId}}_request_interceptor_name.substring(5, {{operationId}}_request_interceptor_name.length()));
        }
        {{/if}}
        {{#if responseInterceptor}}
        string {{operationId}}_response_interceptor_name = "{{responseInterceptor}}";
        if({{operationId}}_response_interceptor_name.startsWith("java:")) {
            {{operationId}}_response_interceptor_index = gateway:loadInterceptorClass({{operationId}}_response_interceptor_name.substring(5, {{operationId}}_response_interceptor_name.length()));
        }
        {{/if}}

{{/value}}{{/operations}}{{/value}}{{/paths}}
}