{{#if endpointConfig.prodEndpoints.endpointListEtcdEnabled}}
    {{#endpointConfig.prodEndpoints}}{{>endpointReinit}}{{/endpointConfig.prodEndpoints}}
    if (!reinitFailed) {
        clientResponse = {{qualifiedServiceName}}_prod->forward(urlPostfix, <@untainted>req);
    }
{{else}}
    clientResponse = {{qualifiedServiceName}}_prod->forward(urlPostfix, <@untainted>req);
{{/if}}
invocationContext.attributes["destination"] = gateway:retrieveConfig("{{name}}_{{endpointUrlType}}_endpoint_0","{{{endpoints.0.endpointUrl}}}");