{{#if endpointConfig.sandEndpoints.endpointListEtcdEnabled}}
    {{#endpointConfig.sandEndpoints}}{{>endpointReinit}}{{/endpointConfig.sandEndpoints}}
    if (!reinitFailed) {
        clientResponse = {{qualifiedServiceName}}_sand->forward(urlPostfix, <@untainted>req);
    }
{{else}}
    clientResponse = {{qualifiedServiceName}}_sand->forward(urlPostfix, <@untainted>req);
{{/if}}
{{#endpointConfig.sandEndpoints}}{{>analyticsDestination}}{{/endpointConfig.sandEndpoints}}
