{{#if epConfig.prodEndpoints.endpointListEtcdEnabled}}
    {{#epConfig.prodEndpoints}}{{>endpointReinit}}{{/epConfig.prodEndpoints}}
    if (!reinitFailed) {
        clientResponse = {{operationId}}_prod->forward(urlPostfix, req);
    }
{{else}}
    clientResponse = {{operationId}}_prod->forward(urlPostfix, req);
{{/if}}
runtime:getInvocationContext().attributes["destination"] = "{{epConfig.prodEndpoints.endpoints.0.endpointUrl}}";