version: "2.4"
services:
  apim:
    image: wso2am/wso2am:4.0.0-pre-beta-alpine
    mem_limit: 1024m
    healthcheck:
      test: ["CMD", "nc", "-z","localhost", "9443"]
      interval: 10s
      retries: 50
    ports:
      - "9763:9763"
      - "9443:9443"
      - "5672:5672"
      - "8243:8243"
    volumes:
      - ../resources/apim/deployment.toml:/home/wso2carbon/wso2am-4.0.0-pre-beta/repository/conf/deployment.toml
  router:
    image: wso2/mg-router:4.0.0-m10
    mem_limit: 256m
    logging:
      options:
        max-size: "20m"
        max-file: "5"
    environment:
      - ROUTER_ADMIN_HOST=0.0.0.0
      - ROUTER_ADMIN_PORT=9000
      - ROUTER_CLUSTER=default_cluster
      - ROUTER_LABEL=Production and Sandbox
      - ROUTER_PRIVATE_KEY_PATH=/home/wso2/security/keystore/mg.key
      - ROUTER_PUBLIC_CERT_PATH=/home/wso2/security/keystore/mg.pem
      - ADAPTER_HOST=adapter
      - ADAPTER_PORT=18000
      - ADAPTER_CA_CERT_PATH=/home/wso2/security/truststore/mg.pem
      - ENFORCER_HOST=enforcer
      - ENFORCER_PORT=8081
      - ENFORCER_CA_CERT_PATH=/home/wso2/security/truststore/mg.pem
    volumes:
      - ../resources/router/security:/home/wso2/security
    ports:
      - "9095:9095"
      - "9000:9000"
      - "9090:9090"
    links:
      - adapter
      - enforcer
  adapter:
    image: wso2/mg-adapter:4.0.0-m10
    mem_limit: 256m
    logging:
      options:
        max-size: "20m"
        max-file: "5"
    depends_on:
      apim:
        condition: service_healthy
    volumes:
      - ../resources/adapter/security:/home/wso2/security
      - ../resources/conf:/home/wso2/conf
    environment:
      - cp_admin_pwd=admin
      - adapter_admin_pwd=admin
    ports:
      - "18000:18000"
      - "9843:9843"
    links:
      - apim
  enforcer:
    image: wso2/mg-enforcer:4.0.0-m10
    mem_limit: 256m
    logging:
      options:
        max-size: "20m"
        max-file: "5"
    volumes:
      - ../resources/enforcer/security:/home/wso2/security
      - ../resources/conf:/home/wso2/conf
      - ../resources/enforcer/dropins:/home/wso2/lib/dropins
    links:
      - adapter
      - apim
    environment:
      - ENFORCER_PRIVATE_KEY_PATH=/home/wso2/security/keystore/mg.key
      - ENFORCER_PUBLIC_CERT_PATH=/home/wso2/security/keystore/mg.pem
      - TRUSTED_CA_CERTS_PATH=/home/wso2/security/truststore
      - ADAPTER_HOST_NAME=adapter
      - ADAPTER_HOST=adapter
      - ADAPTER_XDS_PORT=18000
      - ENFORCER_LABEL=Production and Sandbox
      - ENFORCER_REGION=UNKNOWN
      - XDS_MAX_MSG_SIZE=4194304
      - XDS_MAX_RETRIES=3
      - JAVA_OPTS=${JAVA_OPTS} -Dhttpclient.hostnameVerifier=AllowAll
      - apim_admin_pwd=admin
      - enforcer_admin_pwd=admin
      - tm_admin_pwd=admin
      - analytics_authURL=https://localhost:8080
      - analytics_authToken=
    ports:
      - "8081:8081"
