# Copyright (c) 2023, WSO2 LLC. (http://www.wso2.org) All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

admin:
  # The admin interface is bound to a unix domain socket instead of a TCP port so
  # it has no direct network exposure. This removes the SSRF surface created by an
  # admin endpoint listening on 0.0.0.0. Network access to admin is served only by
  # the 'admin_listener' below, which enforces HTTP basic auth before proxying here.
  address:
    pipe:
      path: '${ROUTER_ADMIN_SOCKET_PATH}'
dynamic_resources:
  ads_config:
    api_type: GRPC
    transport_api_version: V3
    grpc_services:
      - envoy_grpc:
          cluster_name: xds_cluster
  cds_config:
    ads: {}
    resource_api_version: V3
  lds_config:
    ads: {}
    resource_api_version: V3
node:
  cluster: '${ROUTER_CLUSTER}'
  id: '${ROUTER_LABEL}'
  metadata:
    instanceIdentifier: ${HOSTNAME}
static_resources:
  listeners:
    # Authenticated network entry point for the Envoy admin interface. The admin
    # endpoint itself listens only on a unix domain socket (see 'admin' above);
    # this listener applies HTTP basic auth (via the Lua filter) and forwards
    # authenticated requests to the admin socket (admin_cluster).
    - name: admin_listener
      address:
        socket_address:
          address: '${ROUTER_ADMIN_HOST}'
          port_value: '${ROUTER_ADMIN_PORT}'
      filter_chains:
        - filters:
            - name: envoy.filters.network.http_connection_manager
              typed_config:
                '@type': type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
                stat_prefix: admin_proxy
                codec_type: AUTO
                route_config:
                  name: admin_route
                  virtual_hosts:
                    - name: admin
                      domains:
                        - '*'
                      routes:
                        - match:
                            prefix: /
                          route:
                            cluster: admin_cluster
                http_filters:
                  - name: envoy.filters.http.lua
                    typed_config:
                      '@type': type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
                      inline_code: |
                        -- Enforce HTTP basic auth on every admin request. The expected
                        -- "Basic <base64(user:pass)>" value is injected by
                        -- docker-entrypoint.sh (via envsubst) from ROUTER_ADMIN_USERNAME
                        -- and ROUTER_ADMIN_PASSWORD.
                        function envoy_on_request(request_handle)
                          local expected = "${ROUTER_ADMIN_BASIC_AUTH_HEADER}"
                          local provided = request_handle:headers():get("authorization")
                          if provided == nil or provided ~= expected then
                            request_handle:respond(
                              {
                                [":status"] = "401",
                                ["www-authenticate"] = "Basic realm=\"Choreo Connect Router Admin\""
                              },
                              "Unauthorized\n")
                          end
                        end
                  - name: envoy.filters.http.router
                    typed_config:
                      '@type': type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
  clusters:
    # Upstream for the admin interface, reachable only over its unix domain socket.
    - name: admin_cluster
      type: STATIC
      connect_timeout: 1s
      load_assignment:
        cluster_name: admin_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    pipe:
                      path: '${ROUTER_ADMIN_SOCKET_PATH}'
    - name: xds_cluster
      type: STRICT_DNS
      connect_timeout: ${XDS_CLUSTER_CONNECT_TIMEOUT}
      upstream_connection_options:
        tcp_keepalive:
          keepalive_probes: '${KEEPALIVE_PROBES}'
          keepalive_time: '${KEEPALIVE_TIMEOUT}'
          keepalive_interval: '${KEEPALIVE_INTERVAL}'
      load_assignment:
        cluster_name: xds_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: '${ADAPTER_HOST}'
                      port_value: '${ADAPTER_PORT}'
      typed_extension_protocol_options:
        envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
          '@type': 'type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions'
          explicit_http_config:
            http2_protocol_options: {}
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          '@type': type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
          common_tls_context:
            tls_params:
              tls_minimum_protocol_version: TLSv1_2
              tls_maximum_protocol_version: TLSv1_2
            tls_certificates:
              private_key:
                filename: '${ROUTER_PRIVATE_KEY_PATH}'
              certificate_chain:
                filename: '${ROUTER_PUBLIC_CERT_PATH}'
            validation_context:
              trusted_ca:
                filename: '${ADAPTER_CA_CERT_PATH}'
    - name: ext-authz
      type: STRICT_DNS
      connect_timeout: 20s
      typed_extension_protocol_options:
        envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
          '@type': 'type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions'
          explicit_http_config:
            http2_protocol_options: {}
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          '@type': type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
          common_tls_context:
            tls_params:
              tls_minimum_protocol_version: TLSv1_2
              tls_maximum_protocol_version: TLSv1_2
            tls_certificates:
              private_key:
                filename: '${ROUTER_PRIVATE_KEY_PATH}'
              certificate_chain:
                filename: '${ROUTER_PUBLIC_CERT_PATH}'
            validation_context:
              trusted_ca:
                filename: '${ENFORCER_CA_CERT_PATH}'
      load_assignment:
        cluster_name: ext-authz
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: '${ENFORCER_HOST}'
                      port_value: '${ENFORCER_PORT}'
    - name: access-logger
      type: STRICT_DNS
      connect_timeout: 200s
      typed_extension_protocol_options:
        envoy.extensions.upstreams.http.v3.HttpProtocolOptions:
          '@type': 'type.googleapis.com/envoy.extensions.upstreams.http.v3.HttpProtocolOptions'
          explicit_http_config:
            http2_protocol_options: {}
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          '@type': type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
          common_tls_context:
            tls_params:
              tls_minimum_protocol_version: TLSv1_2
              tls_maximum_protocol_version: TLSv1_2
            tls_certificates:
              private_key:
                filename: '${ROUTER_PRIVATE_KEY_PATH}'
              certificate_chain:
                filename: '${ROUTER_PUBLIC_CERT_PATH}'
            validation_context:
              trusted_ca:
                filename: '${ENFORCER_CA_CERT_PATH}'
      load_assignment:
        cluster_name: access-logger
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: '${ENFORCER_ANALYTICS_HOST}'
                      port_value: '${ENFORCER_ANALYTICS_RECEIVER_PORT}'
    - name: ext_authz_http_cluster
      type: STRICT_DNS
      connect_timeout: 20s
      transport_socket:
        name: envoy.transport_sockets.tls
        typed_config:
          '@type': type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext
          common_tls_context:
            tls_params:
              tls_minimum_protocol_version: TLSv1_2
              tls_maximum_protocol_version: TLSv1_2
            tls_certificates:
              private_key:
                filename: '${ROUTER_PRIVATE_KEY_PATH}'
              certificate_chain:
                filename: '${ROUTER_PUBLIC_CERT_PATH}'
            validation_context:
              trusted_ca:
                filename: '${ENFORCER_CA_CERT_PATH}'
      load_assignment:
        cluster_name: ext_authz_http_cluster
        endpoints:
          - lb_endpoints:
              - endpoint:
                  address:
                    socket_address:
                      address: '${ENFORCER_HOST}'
                      port_value: 9001
