{{#if containerConfig.kubernetes.kubernetesPersistentVolumeClaim.enable}}
@kubernetes:PersistentVolumeClaim {
    {{#if containerConfig.kubernetes.kubernetesPersistentVolumeClaim.name}}
    name:"{{containerConfig.kubernetes.kubernetesPersistentVolumeClaim.name}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesPersistentVolumeClaim.mountPath}},
    mountPath:"{{containerConfig.kubernetes.kubernetesPersistentVolumeClaim.mountPath}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesPersistentVolumeClaim.readOnly}},
    readOnly:"{{containerConfig.kubernetes.kubernetesPersistentVolumeClaim.readOnly}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesPersistentVolumeClaim.accessMode}},
    accessMode:"{{containerConfig.kubernetes.kubernetesPersistentVolumeClaim.accessMode}}"{{/if}}{{#if containerConfig.kubernetes.kubernetesPersistentVolumeClaim.volumeClaimSize}},
    volumeClaimSize:"{{containerConfig.kubernetes.kubernetesPersistentVolumeClaim.volumeClaimSize}}"{{/if}}
}
{{/if}}