<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c)  WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~      http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Micro-GW-Test-Suite">
    <listeners>
        <!--Disabled since there are no any pre configured apis -->
        <!--<listener class-name="org.wso2.micro.gateway.tests.listener.TestExecutionListener"/>-->
        <listener class-name="org.wso2.micro.gateway.tests.listener.TestNGListener"/>
    </listeners>

    <!-- Below tests should run sequentially since it will use same port in each test -->

    <test name="micro-gw-pre-requisites" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.micro.gateway.tests.prepare.PreRequisites" />
        </classes>
    </test>
    <test name="micro-gw-services" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.micro.gateway.tests.apikey.APIKeyTestCase" />
            <class name="org.wso2.micro.gateway.tests.jwtRevocation.JWTRevocationSupportTestCase" />
            <class name="org.wso2.micro.gateway.tests.security.MutualSSLTestCase" />
            <class name="org.wso2.micro.gateway.tests.http2.HTTP2RequestsWithHTTP1BackEndTestCase" />
            <class name="org.wso2.micro.gateway.tests.endpoints.EndpointWithSecurityTestCase" />
            <class name="org.wso2.micro.gateway.tests.security.DisableSecurityAndCustomAuthHeaderTestCase" />
            <class name="org.wso2.micro.gateway.tests.grpc.BasicGrpcTestCase" />
            <class name="org.wso2.micro.gateway.tests.jwtTransformer.JwtTransformerTestCase"/>
        </classes>
    </test>

    <test name="micro-gw-toolkit" preserve-order="true" parallel="false">
        <classes>
            <!-- DistributedThrottlingTestCase should be the first since it starts message broker -->
            <class name="org.wso2.micro.gateway.tests.throttling.DistributedThrottlingTestCase"/>
            <class name="org.wso2.micro.gateway.tests.security.APIInvokeWithOAuth2andBasicAuthTestCase"/>
            <class name="org.wso2.micro.gateway.tests.throttling.ThrottlingTestCase"/>
            <class name="org.wso2.micro.gateway.tests.throttling.OpenApiThrottlingTestCase"/>
            <!--            <class name="org.wso2.micro.gateway.tests.security.CookieAuthTestCase"/>-->
            <class name="org.wso2.micro.gateway.tests.validation.ValidationTestCase"/>
            <class name="org.wso2.micro.gateway.tests.interceptor.JavaInterceptorTestCase"/>
        </classes>
    </test>
</suite>
